html {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-family: 'Roboto Condensed', sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

.img-flex {
  display: block;
  width: 100%;
}

.banner-body {
  position: absolute;
  overflow: hidden;
  transform: translateX(-50%);
  width: 50%;
  left: 40%;
  top: 25%;
}

.small-circle {
  float: left;
  width: 50%;
}

.banner {
  max-height: 500px
  position: relative;
  width: 100%;
}

.btn-big {
  border-radius: 8px;
  text-decoration: none;
  padding: 0.4em 0.75em 0.3em;
  display: inline-block;
  margin: 0.5em 2em;
  font-size: 0.875rem;
  border: solid 3px;
  background-color: #333;
  color: #fff;
}

.btn-big:hover {
  background-color: #000;
}

h2 {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 3rem;
  line-height: 3rem;
}

p {
  font-size: 1.5rem;
}
